
body {
  background-color: #000;
}

input, textarea {
  width: 100%;
  font-family: helvetica, sans-serif;
}

input {
  background-color: #d2d2d2;
}

.style {
  width: 150px;
  border-radius: 15px;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  background-color: gold;
}

.email-form {
  font-family: helvetica, sans-serif;
  color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

form textarea{
  background-color: #d2d2d2;
  height: 10rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

